---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
}

header {
  width: 15%;
  overflow: hidden;
}

section {
  width: 82%;
}

body {
  font-size: 11pt;
  color: black;
}

.sidebar-image {
  width: 65%;
}
